/*Stylesheet for etch-a-sketch project*/
h1 {
  text-align: center;
}

.container {
  margin: 0 auto 0 auto;
}
.pageTitle {}
.optionsMenu {}
.sketchCanvas {
  height: 600px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: auto;
}
